//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #e63c32;
$secondary: #747474;
$font-family-monospace:'FFMarkWebPro', Helvetica, Arial, serif;
$font-family-base: 'FFMarkWebPro', Helvetica, Arial, serif;
$font-family-sans-serif: 'FFMarkWebPro', Helvetica, Arial, serif;

$enable-rounded: true;
$enable-shadows: false;

